<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <%- include("../partials/nav.ejs") %>

    <div>
        <h2>About </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ad corrupti qui vero, consequuntur sequi suscipit architecto iste perspiciatis ipsum veniam ea soluta, quisquam quas in sed. Deserunt, libero atque!</p>
    </div>
</body>
</html>